:root {
  --bg: #1c1e21;
  --text-color: #fff;
  --nav-color: #206ea7;
  --settings-menu-bg: #222428;
  --application-bg: #181a1d;
  --apppication-header-color: #fff;
  --https-status-color: #fff;
}

.light {
  --bg: #f5f5f5;
  --settings-menu-bg: #fff;
  --text-color: #000;
  --application-bg: #fff;
  --apppication-header-color: #000;
  --https-status-color: #000;
}

@font-face {
  font-family: Roboto;
  src: url("./fonts/Roboto-Regular.ttf");
}

body {
  background-color: var(--bg);
  font-family: Roboto;
  color: #fff;
  margin: 0;
}

.settings-button {
  display: inline-block;
  cursor: pointer;
  z-index: 2;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

.navbar {
  background-color: #206ea7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-left > * {
  margin: 10px;
}

.navbar > * {
  margin: 10px;
}

#settings-menu {
  position: fixed;
  top: 0;
  left: -220px;
  height: 100%;
  width: 220px;
  background-color: var(--settings-menu-bg);
  transition: transform 0.5s ease;
  z-index: 2;
}

#settings-menu ul {
  margin-left: 20px;
  padding: 0;
  margin-top: 60px;
}

.settings-items {
  cursor: pointer;
  color: var(--text-color);
}

#settings-menu.show {
  display: block;
  transform: translateX(220px);
}

#settings-menu.close {
  display: none;
  transform: translateX(-220px);
}

.slide > * {
  margin-left: 15px;
}

.slide li {
  list-style: none;
}

a {
  color: #124aa4;
}

.system-info-container {
  background-color: rgba(0, 0, 0, 0.268);
  padding: 10px;
  float: left;
  max-width: fit-content;
}

.system-info-container h3 {
  color: #fff;
}

main {
  display: flex;
  flex-direction: column;
}

.application-section li {
  display: inline-block;
  margin: 0 1% 10px;
}

@media (max-width: 620px) {
  .application-section ul {
    display: initial;
    justify-content: initial;
  }

  .application-section li {
    display: grid;
  }
}

.application-section ul {
  list-style-type: none;
  padding: 0;
}

.app-icon-container {
  pointer-events: none;
  position: relative;
  left: 0;
  padding: 10px;
  z-index: 0;
}

.application-container {
  display: flex;
  background-color: var(--application-bg);
  padding-left: 20px;
  position: relative;
  max-width: min-content;
  word-wrap: normal;
  font-size: smaller;
  padding: 0;
  border-radius: 5px;
  min-width: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 1;
}

.https-icon {
  pointer-events: none;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 4px;
}

/* Style, if .https-icon is added to status-div container */
.https-icon.httpsIconStyle {
  position: relative;
  bottom: initial;
  right: initial;
  padding: initial;
}

.online-status {
  border-radius: 50%;
  display: inline-block;
  width: 10px;
  height: 10px;
}

.status-div {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  padding: 4px;
  justify-content: center;
  align-items: center;
}

.application-name-header {
  text-decoration: none;
  color: var(--apppication-header-color);
}

.application-name-header:hover {
  text-decoration: underline;
}

.edit-app-section {
  z-index: 1;
}

.edit-app-icon::after {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  content: "\2807";
  font-size: 15px;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 20px;
  right: 0;
  background-color: #f9f9f9;
  width: 40px;
  height: fit-content;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  justify-content: center;
}

.dropdown-content.show {
  display: flex;
}

.dropdown-content ul {
  margin: 0 50%;
}

.dropdown-content li {
  cursor: pointer;
}

#theme-button {
  cursor: pointer;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

#theme-button.light {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

/*------ Application form styling ------ */
.edit-application-container,
#new-application-container {
  position: fixed;
  display: none;
  flex-direction: column;
  max-width: 400px;
  width: 90%;
  max-height: 90%;
  height: auto;
  padding: 20px;
  background-color: #f9f9f9;
  font-size: medium;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.app-name-container {
  display: flex;
  align-items: center;
}

.app-name-container img {
  margin-right: 10px;
}

.icon-container {
  display: flex;
  align-items: center;
}

#application-header,
#new-application-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

h3 {
  font-family: Arial, sans-serif;
  font-size: 1.5em;
  color: #333;
}

.edit-close-button {
  cursor: pointer;
  float: right;
  transition: transform 0.2s ease;
}

.close-button {
  cursor: pointer;
  float: right;
  transition: transform 0.2s ease;
}

.edit-close-button:hover,
.close-button:hover {
  transform: scale(1.1);
}

.input-fields-application {
  display: flex;
  flex-direction: column;
}

.edit-form-group,
.form-group {
  margin-bottom: 15px;
  margin-right: 20px;
}

label {
  font-size: 0.9em;
  margin-bottom: 5px;
  color: #555;
}

.edit-application-form,
.application-form {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
}

#application_name.error,
#application_host.error {
  outline: none;
  border-color: #f31717;
}

.textfield-group label.error {
  color: #f31717;
}

.textfield-group label.reset {
  color: initial;
}

.edit-application-form:focus,
.application-form:focus {
  outline: none;
  border-color: #007bff;
}

.edit-checkbox-group,
.checkbox-group {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.edit-checkbox-group label,
.checkbox-group label {
  margin-left: 5px;
  color: #333;
}

.submit-btn {
  background-color: #007bff;
  color: var(--text-color);
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: #0056b3;
}

@media (max-width: 500px) {
  #new-application-container {
    height: auto;
  }
}
