{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content="{{ csrf_token }}" />
    <title>{{ dashboard_env.dashboard_title }}</title>

    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}" />
  </head>
  <body>
    <div id="new-application-container">
      <div id="new-application-header">
        <h3>Add new application</h3>
        <img
          class="close-button"
          src="{% static '/img/close_button.svg' %}"
          width="24px"
          height="24px"
          onclick="toggleApplicationWindow()"
        />
      </div>

      <form class="input-fields-application">
        <div class="form-group textfield-group">
          <label id="app-name-label" for="application_name">Application Name</label>
          <input
            class="application-form"
            id="application_name"
            type="text"
            placeholder="Enter application name"
            name="application-name"
            required
          />
        </div>

        <div class="form-group textfield-group">
          <label id="app-host-label" for="application_host">IP Address and Port</label>
          <input
            class="application-form"
            id="application_host"
            type="text"
            placeholder="IP-Address:Port"
            required
          />
        </div>
        <div class="form-group checkbox-group">
          <input
            type="checkbox"
            class="checkbox"
            id="https"
            name="https_checkbox"
          />
          <label for="https_checkbox">HTTPS</label>
        </div>

        <div class="form-group">
          <label for="application_icon">Application Icon</label>
          <input
            id="application_icon"
            type="file"
            accept=".jpg, .png, .svg"
            onchange="previewIcon(null)"
            required
          />
        </div>

        <img id="new-app-icon-preview" width="50" height="50" style="display: none;" />

        <div class="form-group checkbox-group">
          <input
            type="checkbox"
            class="checkbox"
            id="use_reverse_proxy"
            name="reverse_proxy_checkbox"
          />
          <label for="reverse_proxy_checkbox">Use Reverse Proxy</label>
        </div>

        <div class="form-group">
          <button
            class="submit-btn"
            type="button"
            onclick="uploadApplicationProps(event)"
          >
            Submit
          </button>
        </div>
      </form>
    </div>

    <!-- Settings slide menu -->
    <div id="settings-menu">
      <div class="slide">
        <ul>
          <li>
            <span
              class="settings-items"
              id="add-application-link"
              onclick="toggleApplicationWindow()"
              >Add Application</span
            >
          </li>
        </ul>
      </div>
    </div>

    <nav class="navbar">
      <div class="header-left">
        <div class="settings-button" onclick="toggleSettingsMenu(this)">
          <div class="bar1"></div>
          <div class="bar2"></div>
          <div class="bar3"></div>
        </div>
        <h2>{{ dashboard_env.dashboard_header }}</h2>
      </div>
      <img
        id="theme-button"
        src="{% static '/img/theme_button.svg' %}"
        onclick="changeTheme(this)"
      />
    </nav>

    <main>
      <div class="system-info-container">
        <h3>System Information</h3>
        <div class="cpu">
          <span id="cpu-usage"></span>
          <br />
          <span id="cpu-temp"></span>
          <br />
          <span id="physical-cores"></span>
        </div>
        <div class="disk">
          <span id="memory-usage"></span>
          <!-- used_mem / total_mem  mem_percent -->
          <br />
          <span id="disk-usage"></span>
          <!-- used_disk / total_disk disk_percent (free: free_disk) -->
        </div>
        <span id="uptime"></span>
      </div>

      <section class="application-section">
        {% if applications %}
        <ul>
          {% for app in applications %}
            {% include 'app_card.html' with app=app loop_index=forloop.counter %}
          {% endfor %}
        </ul>
        {% else %}
        <p>No applications are available.</p>
        {% endif %}
      </section>
    </main>
    <script src="{% static 'main.js' %}"></script>
  </body>
</html>